<main>
    <div class="background"></div>
    <div class="container">
        <img src="/images/avata.jpg" alt="" class="img-avata">
        <div class="box">
            <h1>Phan Tuấn Em</h1>
            <div class="socials">
                <img src="/icon/fb_social media_facebook_facebook logo_social network_icon.png" alt="" class="img-icon">
                <img src="/icon/camera_instagram_instagram logo_icon.png" alt="" class="img-icon">
                <img src="/icon/tiktok_icon.png" alt="" class="img-icon">
                <img src="/icon/github_logo_social network_social_icon.png" alt="" class="img-icon">
            </div>
        </div>
    </div>
</main>