<footer>
    <div class="footer-top">
        <div class="footer-top-item">
            <p>Về Website</p>
            <ul>
                <li>Giới thiệu</li>
                <li>Tuyển dụng</li>
            </ul>
        </div>
        <div class="footer-top-item">
            <p>Chính sách</p>
            <ul>
                <li>Chính sách bảo hành</li>
                <li>Chính sách thanh toán</li>
                <li>Chính sách giao hàng</li>
                <li>Chính sách bảo mật</li>
            </ul>
        </div>
        <div class="footer-top-item">
            <p>Thông tin</p>
            <ul>
                <li>Hệ thống cửa hàng</li>
                <li>Trung tâm bảo hành</li>
            </ul>
        </div>
        <div class="footer-top-item">
            <p>Tổng đài hỗ trợ (Miễn phí)</p>
            <ul>
                <li><p>Gọi mua:</p><p>xxxx.xxxx (8:00 - 21:00)</p></li>
                <li><p>CSKH:</p><p>xxxx.xxxx (8:00 - 21:00)</p></li>
                <li><p>Email:</p><p>phantuanemote2503@gmail.com</p></li>
            </ul>
        </div>
        <div class="footer-top-item">
            <p>Phương thức thanh toán</p>
            <div class="box-icon-payment-method">
                <img src="/icon/payment/pay_1.webp" alt="">
                <img src="/icon/payment/pay_2.webp" alt="">
                <img src="/icon/payment/pay_3.webp" alt="">
                <img src="/icon/payment/pay_4.webp" alt="">
                <img src="/icon/payment/pay_5.webp" alt="">
                <img src="/icon/payment/pay_6.webp" alt="">
                <img src="/icon/payment/pay_7.webp" alt="">
                <img src="/icon/payment/pay_8.webp" alt="">
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; PhanTuanEm 2023</p>
        <ul>
            <li><img src="/icon/facebook.png" alt=""></li>
            <li><img src="/icon/instagram.png" alt=""></li>
            <li><img src="/icon/tik-tok.png" alt=""></li>
            <li><img src="/icon/youtube.png" alt=""></li>
        </ul>
    </div>
</footer>