<div class="container-form container-form-hidden">
    <div class="form">
        <div class="form-title">
            <p>Đăng nhập hoặc tạo tài khoản</p>
            <img src="/icon/close_round_icon.png" alt="" id="icon-close-form-login">
        </div>
        <div class="form-child">
            <form action="" class="form-login">
                <div class="input-group">
                    <label>Email</label>
                    <input type="text" id="login-email">
                </div>
                <div class="input-group">
                    <label>Mật khẩu</label>
                    <input type="password" id="login-password">
                </div>
                <p class="message-login-error"></p>
                <button id="login">Đăng nhập</button>
                <div class="title-or">
                    <p>Hoặc đăng nhập bằng</p>
                </div>
                <div class="btn-login-social">
                    <a href="/auth/google"><img src="/icon/circle_logo_google_plus_icon.png" alt=""><p>Google</p></a>
                    <a href=""><img src="/icon/social media_media_facebook_logo_internet_icon.png" alt=""><p>Facebook</p></a>
                </div>
                <span><p>Bạn chưa có tài khoản?</p><p class="title-register-now">Đăng ký ngay!</p></span>
            </form>
            <form action="" class="form-login form-login-hidden">
                <div class="input-group">
                    <label>Họ tên</label>
                    <input type="text" id="register-fullname">
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input type="text" id="register-email">
                </div>
                <div class="input-group">
                    <label>Mật khẩu</label>
                    <input type="password" id="register-password">
                </div>
                <p class="message-register-error">Đăng ký không thành công</p>
                <button id="register">Đăng ký</button>
                <div class="title-or">
                    <p>Hoặc đăng ký bằng</p>
                </div>
                <div class="btn-login-social">
                    <a href="/auth/google"><img src="/icon/circle_logo_google_plus_icon.png" alt=""><p>Google</p></a>
                    <a href=""><img src="/icon/social media_media_facebook_logo_internet_icon.png" alt=""><p>Facebook</p></a href="">
                </div>
                <span><p>Bạn đã có tài khoản?</p><p class="title-login-now">Đăng nhập</p></span>
            </form>
        </div>
    </div>
</div>