main {
    padding: 1em 10%;
}

.contsiner {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 20px;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb-list {
    display: block;
    max-width: 1200px;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.breadcrumb-list ol {
    display: flex;
    align-items: center;
}

.breadcrumb-list ol li img {
    height: 1.2em;
    margin-right: 5px;
}

.breadcrumb-list ol li {
    list-style: none;
}

.breadcrumb-list ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.breadcrumb-list ol li a:after {
    content: "/";
    margin: 0 8px;
}

.breadcrumb-list ol li:first-child {
    margin: 0;
}

img.img-product {
    width: 100%;
    object-fit: contain;
}

.box-image {
    width: 100%;
    margin-top: 0.5em;
}

.box-image-smaill {
    width: 100%;
    position: relative;
    height: 4em;
    overflow: hidden;
}

.box-image ul {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.box-image ul li {
    height: 100%;
    cursor: pointer;
}

li.li-select {
    border: 1px solid blue;
    border-radius: 3px;
}

.box-image ul li img{
    height: calc(100% - 10px);
    margin: 5px;
}

img.img-add-to-cart {
    height: 1.75em;
}

.btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.btn button {
    width: calc(50% - 5px);
    font-size: 16px;
    height: 3.5em;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: #dd930c;
    border: 1px solid #dd930c;
    border-radius: 3px;
}

.btn button:last-child {
    background-color: white;
    border: 1px solid black;
}

p.sale_price {
    font-size: 30px;
    color: orangered;
    margin-bottom: 1em;
}

.contsiner h1 {
    color: #2b2b2b;
}

img.img-arrow-next-right {
    height: 2em;
}

.btn-suggest {
    display: flex;
    align-items: center;
    height: 2.5em;
    justify-content: space-around;
    border: 1px solid blue;
    margin-top: 2em;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
}

del.price {
    color: #5d5d5d;
}

.policy {
    margin: 1em 0.5em;
}

.policy ul {
    list-style: none;
}

.policy ul li{
    font-size: 15px;
}

.discount ul li img {
    width: 1.5em;
    margin-right: 0.5em;
}

.discount ul {
    list-style: none;
}

.discount ul li {
    display: flex;
    align-items: center;
    height: 2em;
}

.discount h3 {
    color: orangered;
    text-transform: uppercase;
    text-decoration: underline;
}

.detail {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
    margin-top: 3em;
    grid-gap: 1em;
    max-width: 1200px;
}

.info-product h2 {
    margin-bottom: 1em;
    font-family: Arial;
}

table, tbody {
    display: flex;
    flex-direction: column;
}

td.td-title {
    width: 8em;
    font-weight: 600;
}

table td {
    padding: 15px 10px;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

tbody tr:nth-child(odd) {
    background-color: #e5e5e5;
}

span.span-multiple {
    display: block;
}

span.span-multiple::before {
    content: "";
}

span.span-multiple::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-right: 5px;
}

.info-product-right {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.info-product-right a img{
    height: 8em;
}


.info-product-right a span {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.info-product-right a {
    text-decoration: none;
}

.name-and-price {
    height: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.name-and-price h4 {
    color: #2f2f2f;
}

.name-and-price del {
    color: #2f2f2f;
    font-size: 14px;
    margin-bottom: -8px;
}

.name-and-price p {
    color: #cc690c;
    font-size: 18px;
    font-weight: 600;
}

.info-product-right h3 {
    font-family: 'Noto Sans', sans-serif;
    color: blue;
    font-size: 22px;
    margin-bottom: 10px;
}

.policy.policy-content ul li {
    height: 2.5em;
    font-size: 18px;
}

.info-product-right ul {
    list-style: none;
    margin: 1em 0;
    border: 1px solid #e3e3e3;
    border-radius: 0.5em;
}

.info-product-right ul li {
    padding: 10px;
    display: grid;
    grid-template-columns: 11em 1fr;
    grid-gap: 5px;
}

.info-product-right ul li p:first-child {
    width: 12em;
    padding-right: 2em;
}

.info-product-right ul li:nth-child(odd) {
    background-color: #e3e3e3;
}